html {
  padding: 0px;
  margin: 0px;
  color: #777;
  min-height: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

h1 {
  margin: 0px;
  margin-bottom: 8pt;
  border-bottom-style: dashed;
}

div.root {
  height: 100%;
}

div.frame {
  min-height: 100%;
  display: flex;
}

div.leftPain {
  min-height: 100%;
  width: auto;
  min-width: 250px;
  max-width: 400px;
  background-color: #444;
  color: #bbb;
  box-shadow: 2px 0px 2px #222;
}

div.leftPain ul {
  padding: 0px;
  margin: 0px;
  box-shadow: -2px 2px 2px #222;
}

.leftPain li {
  list-style: none;
  font-size: 14pt;
  padding: 10pt;
  margin: 0px;
  background-color: #444;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 2px inset #222;
}

.leftPain li.selected {
  color: #ccc;
  background-color: #666;
}


.leftPain li:first-child {
  box-shadow: none;
}

div.mainPain {
  min-height: 100%;
  margin: 20px 25px 25px 28px;
  flex: 1;
}


div.checkList {
  display: inline-block;
  position: relative;
}

div.systemMenu {
  font-size: 120%;
  float: right;
}

div.checkList li {
  padding-left: 2pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  font-size: 14pt;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  position: relative;
}

i.far {
  vertical-align: baseline;
}

span.iconButton {
  font-size: 120%;
  margin-left: 5pt;
  margin-right: 5pt;
  cursor: pointer;
}

span.iconButton i {
  vertical-align: middle;
}

span.iconButton i:hover {
  cursor: pointer;
}

span {
  margin-left: 0.5em;
  vertical-align: bottom;
}

i.subicon {
  visibility: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

li:hover i.subicon {
  visibility: visible
}

.intermadiate * {
  color: #ddd;
}

h1 input {
  color: #777;
  font-size: 24pt;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

input {
  color: #777;
  border-style: none;
  font-size: 14pt;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  width: 70%;
}

input:focus {
  outline-style: none;
}

.intermadiate input {
  border-style: none;
}

.intermadiate input:focus {
  color: #777;
}

::placeholder {
  color: #ddd;
}

@media print{
  @page {
    margin: 0px;
  }

  .intermadiate {
    visibility: hidden;
  }

  li:hover i.subicon {
    visibility: hidden;
  }

  div.systemMenu {
    visibility: hidden;
  }

  div.leftPain {
    visibility: hidden;
    width: 0px;
    min-width: 0px;
  }
}